.navbar {
    transition: all 0.4s;
    background:transparent;
}

.navbar .nav-link {
    color: rgb(255, 255, 255);
    font-size: larger;
    font-weight: 700;
    margin-left: 8px;
    margin-right: 8px;
}

.navbar .nav-link:hover,
.navbar .nav-link:focus {
    color: black;
    text-decoration: none;
}

.navbar .navbar-brand {
    color: black;
}

.nav-logo{
    height:50px;
    display: none;
}

/* Change navbar styling on scroll */
.navbar.active {
    background: #fff;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
}
.navbar.active .nav-logo{
    height:50px;
    display: unset;
}


.navbar.active .nav-link {
    color:  #343a40;
}

.navbar.active .nav-link:hover,
.navbar.active .nav-link:focus {
    color:  #343a40;
    text-decoration: none;
}

.navbar.active .navbar-brand {
    color:  #343a40;
}

.nav-link:hover {
    cursor: pointer;
    text-decoration:none;
    transition: 0.2s;
    color:red !important;
}

.nav-link{
    color:pink;
}

/* Change navbar styling on small viewports */
@media (max-width: 991.98px) {
    .navbar .nav-link {
        background: white;
        color: #343a40 !important;
    }
    .navbar{
        background:white;
    }

    .navbar.active{
        background:white;
    }


    .navbar .navbar-brand, .navbar .nav-link .nav-item .navbar-toggler-icon{
        color:  #343a40;
    }

    .nav-logo{
        height:25px;
    }
    
}