.aboutTitle:after { /* this is the border */
    content:"";
    display:block;
    width: 10%;
    max-width:70%;
    border-bottom: 2px solid #F3C577;
    margin: 2% auto 0;
}

.about{
    padding-left: 2%;
    margin-bottom: 3%;
}

.paraText{
    margin-top:5%;
}

.buttonStyle{
    margin-top: 2%;
}